body {
  margin: 0;
}

.container {
  margin: 0;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: flex-start;
  border-radius: 3px;
  align-items: center;
  background-color: #ffbf00;
}

nav {
  padding: 0;
  margin: 0;
  display: flex;
}

nav > button {
  border: none;
  padding: 15px 30px;
  background-color: transparent;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease;
}

nav > button:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.page {
  display: none;
  flex-direction: column;
  align-items: center;
  min-width: 700px;
}

.active {
  display: flex !important;
}

h2 {
  color: #333333;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 20px;
  margin-bottom: 10px;
}

textarea {
  height: 150px;
  resize: none;
}
.btn-submit {
  padding: 10px;
  border: none;
  background-color: #ffbf00;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.btn-submit:hover {
  background-color: #ffdb58;
}

/* 게시물 목록 스타일 */
#board-list {
  width: 100%;
  max-width: 700px;
  list-style: none;
  padding: 0;
}
#board-list > li {
  padding: 15px;
  border: 1px solid #dddddd;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
#board-list > li:hover {
  background-color: #f9f9f9;
  border: 1px solid #ffbf00;
}

#page-detail {
  text-align: left;
  max-width: 600px;
}

#page-detail > h2,
p {
  width: 100%;
  padding-left: 10px;
}
#detail-userid {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  box-sizing: border-box;
}

#detail-content {
  min-height: 500px;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
}

#back-btn {
  background-color: #ffbf00;
  color: white;
  border: none;
  padding: 7px 15px;
  font-size: 1em;
  border-radius: 20px;
  cursor: pointer;
  align-self: flex-start;
  transition: all 0.3s ease;
}

#back-btn:hover {
  background-color: #ffdb58;
}

#btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#btn-box {
  display: none;
  gap: 3px;
}

.commonBtn {
  border: none;
  background-color: #ffbf00;
  color: white;
  border: none;
  padding: 7px 15px;
  font-size: 1em;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.commonBtn:nth-of-type(1) {
  background-color: #cc3300;
}

.commonBtn:nth-of-type(2) {
  background-color: #ffbf00;
}

.commonBtn:nth-of-type(1):hover {
  background-color: #aa2b00;
}

.commonBtn:nth-of-type(2):hover {
  background-color: #ffdb58;
}
